.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.input label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.inputElement {
    outline: none;
    border: 2px solid #ffb301;
    background-color: white;
    box-shadow: 0 0 3px #ae7016;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.inputElement:focus {
    outline: none;
    background-color: #fce700;
}

.invalid {
    border: 2px solid red;
    background-color: #fda49a;
}