.drawerToggle {
    width: 50px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.drawerToggle div {
    width: 90%;
    height: 4px;
    background-color: white;
    box-shadow: 0 0 4px 1px #ae7016;
    border-radius: 2px;
}

@media (min-width: 500px) {
    .drawerToggle {
        display: none;
    }
}