@import url('https://fonts.googleapis.com/css?family=Poppins');

.sideDrawer {
    position: fixed;
    width: 250px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
    z-index: 200;
    background-color: #ffb301;
    box-sizing: border-box;
    transition: transform .3s ease-out;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

.logo {
    height: 80px;
    margin: 20px;
    padding-bottom: 10px;
}

@media (min-width: 500px) {
    .sideDrawer {
        display: none;
    }
}