.buildControls {
    width: 100%;
    background-color: #009dff;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 10px 0px;
}

.buildControls p {
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin: 0;
}

.order {
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    padding: 15px 30px;
    border: 3px solid #fdcb43;
    border-radius: 20px;
}

.order:hover, .order:active {
    background-color: #75caff;
}

.order:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    border: 3px solid #c7c6c6;
    color: #888888;
}

.order:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}