.buildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    color: white;
}

.buildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 5px;
    width: 80px;
    border: none;
    cursor: pointer;
    outline: none;
}

.buildControl button:disabled {
    background-color: #AC9980;
    color: rgba(0, 0, 0, 0.6);
    cursor: default;
}

.buildControl button:hover:disabled {
    background-color: #AC9980;
    color: rgba(0, 0, 0, 0.6);
    cursor: not-allowed;
}

.label {
    padding: 10px;
    width: 80px;
}

.buildControl .more {
    background-color: #ffb301;
}

.buildControl .less {
    background-color: #fce700;
}

.buildControl .less:hover, .buildControl .less:active, .buildControl .more:hover, .buildControl .more:active {
    color: white;
}