.navItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.navItem {
    margin: 10px 0px;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.navItem a {
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.navItem a:hover, .navItem a:active, .navItem a.active {
    color: #40a4c8;
}

@media (min-width: 500px) {
    .navItems {
        flex-flow: row;
    }

    .navItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .navItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .navItem a:hover, .navItem a:active, .navItem a.active {
        background-color: #8f5c2c;
        border-bottom: 4px solid #40a4c8;
        color: white;
    }
}