.contactInfo {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    background-color: #ffb301;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

.order {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(165deg, #27b5ff 0%, #0094eb 49%, #007dcd 51%, #009dff 100%);
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    padding: 5px 10px;
    border: 4px solid #0094eb;
    border-radius: 20px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.order:hover, .order:active {
    background: linear-gradient(165deg, #54c8ff 0%, #00a1ff 49%, #008fe1 51%, #25b0ff 100%);
    border: 4px solid #00a1ff;
}

.order:disabled {
    background: #b1b1b1;
    cursor: not-allowed;
    border: 3px solid #c7c6c6;
    color: #888888;
}

.order:not(:disabled) {
    animation: enable 0.3s linear;
}

@media (min-width: 600px) {
    .contactInfo {
        width: 500px;
    }
}