.burger {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 60px;
    min-height: 40vh;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 499px) {
    .burger {
        height: max-content;
        max-height: 60vh;
        overflow: scroll;
    }
}