.ingredient {
    display: block;
    max-width: 80vw;
    background-color: transparent;
    margin: 1px auto;
}

.ketchup, .hotsauce, .bbq, .mustard, .mayo {
    width: 75%;
    max-width: 350px;
    background-color: #ee000f;
    height: 3px;
}

.hotsauce {
    background-color: #e15700;
}

.bbq {
    background-color: #913600;
}

.mayo {
    background-color: #fae8e1;
}

.mustard {
    background-color: #ebd200;
}