.auth {
    margin: 120px auto 0 auto;
    width: 80%;
    text-align: center;
    background-color: #ffb301;
    border-radius: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

@media (min-width: 600px) {
    .auth {
        width: 500px;
    }
}