@import url('https://fonts.googleapis.com/css?family=Poppins');

.button {
    background-color: #75caff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    color: black;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.button:hover {
    color: white;
}

.button:first-of-type {
    margin-left: 0;
}

.button:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

.success {
    background-color: #009dff;
}

.danger {
    background-color: #fdcb43;
}

@media(max-width: 400px) {
    .button {
        font-size: 1em;
        padding: 6px;
        margin: 6px;
    }
}